# --- Unity Folders ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/StreamingAssets/aa.meta
/[Aa]ssets/StreamingAssets/aa/*

# --- Specific Mobile/Build Artifacts ---
# Ignore Android/iOS specific generated folders
/[Aa]ssets/Plugins/Android/libs/
/[Aa]ssets/Plugins/iOS/
# Ignore Gradle build artifacts
.gradle/

# --- IDE & OS Files ---
.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.com.apple.timemachine.supported
.DS_Store
Thumbs.db
desktop.ini

# --- Crashlytics/Analytics ---
Firebase/*
crashlytics-build.properties

################################
# IL2CPP / Native build output #
################################

.utmp/
Library/Il2cppBuildCache/
Temp/Il2cppBuildCache/

*.cpp
*.pdb
*.bin
*.cmake
*.make
*.ninja
*.a
*.so


# IL2CPP cache
Library/Il2cppBuildCache/
Temp/Il2cppBuildCache/

# Android / iOS native build artifacts
Build/
Builds/

ExportedObj/
.gradle/

*.apk
*.aab
*.ipa
*_BackUpThisFolder_ButDontShipItWithYourGame/
